force-app/main/default/flows/Call_Center_Transfer_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Transfer_Type_Decision</name>
        <label>Transfer Type Decision</label>
        <locationX>375</locationX>
        <locationY>2</locationY>
        <defaultConnector>
            <targetReference>Collage_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collage</defaultConnectorLabel>
        <rules>
            <name>Department_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Department_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Department_Lookup</targetReference>
            </connector>
            <label>Department</label>
        </rules>
    </decisions>
    <interviewLabel>Call Center Tran {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Center Transfer Subflow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Collage_Lookup</name>
        <label>Collage Lookup</label>
        <locationX>473</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_To_collage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>College_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collage_Name</elementReference>
            </value>
        </filters>
        <object>Collage__c</object>
        <outputAssignments>
            <assignToReference>Main_Number</assignToReference>
            <field>Main_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Department_Lookup</name>
        <label>Department Lookup</label>
        <locationX>249</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_to_Department</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lookup_Department_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Department_Name</elementReference>
            </value>
        </filters>
        <object>Department__c</object>
        <outputAssignments>
            <assignToReference>Main_Number</assignToReference>
            <field>Main_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>College_error</name>
        <label>College error</label>
        <locationX>638</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>College_Error_Text</name>
            <fieldText>The following error occurred while trying to lookup the {!Collage_Name} college

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End</label>
        <locationX>367</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Text</name>
            <fieldText>This call iscomplete. PLease close the window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lookup_Department_Error</name>
        <label>Lookup Department Error</label>
        <locationX>84</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lookup_Department_Error_text</name>
            <fieldText>The following error occured while trying to lookup the {!Department_Name} Department.

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_To_collage</name>
        <label>Transfer To collage</label>
        <locationX>475</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <fields>
            <name>Transfer_tp_college_text</name>
            <fieldText>Thank you for your patience. Please wait a moment while i transfer youto the {!Collage_Name} college.

Call Center Rep Instuructions:
Step 1: Place student on hold via hoil button.
Step 2: Dial {!Main_Number}
Step 3:Wait for answer.
Step 4: Explain call purpose to college contact.
Step 5: Hit call merge button on phone.
Step 6: Introduce the student to college contact.
Step 7: End call.... Hang up</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_to_Department</name>
        <label>Transfer to Department</label>
        <locationX>247</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <fields>
            <name>Transfer_to_Department_text</name>
            <fieldText>Thanks you for your patience. Please wait a moment while i transfer you to the {!Department_Name} Department.

Call Center Rep Below:
Step 1: place the student on Hold via hold button.
Step 2: Dial {!Main_Number}
Step 3: Wait to answer.
Step 4: Explain call purpose to the department contact.
Step 5: Hit call merge button on the phone.
Step 6: Introduce student to the department contact.
Step 7: Hang Up !!!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Transfer_Type_Decision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>the name of the collage</description>
        <name>Collage_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the of the departnem at the university</description>
        <name>Department_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Phone number foa a department or a cpllage</description>
        <name>Main_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the type of erae where the transfer goes to. At the moment , either it can be Department or collage</description>
        <name>Transer_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
