force-app/main/default/flows/Loop_Element_with_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Account_to_this_update_list</name>
        <label>Add Account to this update list</label>
        <locationX>98</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>Accounts_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Details</name>
        <label>Set Shipping Details</label>
        <locationX>321</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>Current_Account.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Account.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Account.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Account.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_to_this_update_list</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Loop Element with Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop Element with Example</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>298</locationX>
        <locationY>326</locationY>
        <assignNextValueToReference>Current_Account</assignNextValueToReference>
        <collectionReference>Account_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Details_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Lookup_By_City_and_State</name>
        <label>Account Lookup By City and State</label>
        <locationX>296</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>City_textbox</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingState</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State_textbox</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>305</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Final_text</targetReference>
        </connector>
        <inputReference>Accounts_To_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Details_Screen</name>
        <label>Account Details</label>
        <locationX>515</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Shipping_Details</targetReference>
        </connector>
        <fields>
            <name>See_Next_Record_Text</name>
            <fieldText>Account Details for {!Current_Account.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Billing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.BillingCity</elementReference>
            </defaultValue>
            <fieldText>Billing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.BillingState</elementReference>
            </defaultValue>
            <fieldText>Billing State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Billing Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.ShippingStreet</elementReference>
            </defaultValue>
            <fieldText>Shipping Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.ShippingCity</elementReference>
            </defaultValue>
            <fieldText>Shipping City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Shipping Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Account.ShippingState</elementReference>
            </defaultValue>
            <fieldText>Shipping State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_text</name>
        <label>Final_text</label>
        <locationX>307</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fina_Text</name>
            <fieldText>We have successfully updated the account information/shipping ifo</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction_screen</name>
        <label>Introduction</label>
        <locationX>294</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Lookup_By_City_and_State</targetReference>
        </connector>
        <fields>
            <name>Introduction_Text</name>
            <fieldText>&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Find accounts that lack all the necessary shipping address info by searching by city and state.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>City_textbox</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_textbox</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Introduction_screen</startElementReference>
    <status>Draft</status>
    <variables>
        <description>Store the account records</description>
        <name>Account_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The list of account to update</description>
        <name>Accounts_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Current_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
